/*------------------------- COLORS ---------------*/

$color--white:#ffffff;
$color--black:#000000;
$color--purple: #707086; 
$color--purple-dark: #111135; 
$color--gray: #a7a9ac;
$color--gray-light: #e6e7e8;
$color--gray-text: #808285;
$color--blue: #008596;
$color--blue-light: #66b6c0; 

/*------------------------- FONT INIT ---------------*/

$font__size--base: 10px;
$font__family: 'Arial, "Helvetica Neue", Helvetica, sans-serif;'; 